header.main, header.main ul {
    display: flex;
    align-items: center;
}

header.container {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

header.main nav {
    margin-left: auto;
}

header.main li a {
    margin: 0 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 1.75rem;
}


// ----------------------------
// :: ANIMATIONS
// ----------------------------

header.main {
    transition: 800ms ease;
    transition-property: opacity, transform;
    opacity: 0;
    transform: translate(0, -50%);

    &.animate-in {
        opacity: 1;
        transform: none;
    }
}