// GENERAL STUFF

%abstract-pseudo {
    content: '';
    
    position: absolute;
    z-index: -1;
    bottom: -2rem;
    left: 13rem;

    display: block;
    width: 75rem;
    height: 20rem;

    border-radius: 10rem;
    background-color: var(--color-primary);
}

main > section {
    padding: 6rem 2rem;
}

article, section.hero {
    display: flex;
    align-items: center;
}

article figure,
article .content,
section.hero figure,
section.hero .content {
    width: 50%;
}

article figure + .content {
    padding-left: 8rem;
}

article h1,
section.hero h1 {
    letter-spacing: 0.5px;
}

article p,
section.hero p {
    margin: 1.5rem 0;
    font-size: 1.15rem;
    line-height: 1.75;
    color: var(--color-neutral);
}

// SECTION: HERO

section.hero {
    padding-top: 4rem;
}

section.hero .btn {
    margin-right: 1rem;
}

section.hero .content {
    padding-right: 4rem;
    margin-top: -4rem;
}

section.hero figure {
    position: relative;
}

section.hero figure:after {
    @extend %abstract-pseudo;
}

section.hero figure > img {
    width: 115%;
}

// SECTION: FEATURES

section.features article {
    padding: 4rem 0;
}

section.features article.active {
    display: flex;
}

section.features h1 {
    font-size: 1.8rem;
}

section.features figure {
    position: relative;
}

section.features figure:before {
    @extend %abstract-pseudo;
    left: auto;
    right: 15%;
    bottom: -5rem;
}

// SECTION: FAQ

section.faq {
    text-align: center;
}

section.faq .btn {
    margin-top: 4rem;
}