@charset "utf-8";

:root {
    --color-primary: hsl(231, 69%, 60%);
    --color-secondary: hsl(0, 94%, 66%);
    --color-tertiary: hsl(229, 31%, 21%);
    --color-neutral: hsl(229, 8%, 60%);
    --color-lightest: #efefef;
    --color-lighter: #dddddd;
    --color-light: #888888;
    --color-dark: #222222;
    --color-default: #ffffff;

    --container-margin: 3rem;
}

html, body, ul, li, a, button, input, h1, h2, h3, p, form, input, svg, fieldset, figure, img {
    all: unset;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hidden.hidden.hidden { display: none }

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 2 * var(--container-margin));
    padding: 0 var(--container-margin);
}

.container-small {
    max-width: 45rem;
    margin: 0 auto;
}

@import 'utilities/_screenreader.scss';
@import 'utilities/_typography.scss';
@import 'utilities/_media.scss';

@import 'components/_form.scss';
@import 'components/_menu.scss';
@import 'components/_button.scss';
@import 'components/_tabs.scss';
@import 'components/_accordion.scss';
@import 'components/_card.scss';

@import 'sections/_header.scss';
@import 'sections/_footer.scss';
@import 'sections/_sections.scss';