html, body, ul, li, a, button, input {
    all: unset;
}

:root {
    --color-primary: hsl(231, 69%, 60%);
    --color-secondary: hsl(0, 94%, 66%);
    --color-tertiary: hsl(229, 31%, 21%);
    --color-neutral: hsl(229, 8%, 60%);
}