[data-component="accordion"] {
    
}

[data-component="accordion"] h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

[data-component="accordion"] header {
    display: flex;
    justify-content: space-between;
}

[data-component="accordion"] svg {
    width: 1.5rem;
    height: 1.5rem;
}

[data-component="accordion"] p {
    line-height: 2;
    font-size: 1.2rem;
}