[data-component="tabs"] {
    
}

[data-component="tabs"] nav {
    --nav-width: 45rem;
    --indicator-width: calc(var(--nav-width) / 3);
    --indicator-offset: 0;

    max-width: var(--nav-width);
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid var(--color-lighter);
    position: relative;
}

[data-component="tabs"] nav button {
    display: block;
    flex: 1;
    color: var(--color-neutral);
    text-align: center;
    padding-bottom: 2rem;
}

[data-component="tabs"] nav button.active {
    color: var(--color-tertiary);
}

[data-component="tabs"] nav:after {
    content: '';
    display: block;

    position: absolute;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    width: var(--indicator-width);
    background-color: var(--color-secondary);
    transform: translateX(var(--indicator-offset));

    transition: transform 300ms ease;
}

[data-tabs="content"] {
    --height: 34rem;
    position: relative;
    height: var(--height);
}

[data-tabs="content"] article {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
} 

[data-tabs="content"] article.active {
    pointer-events: all;
}

[data-tabs="content"] article:after,
[data-tabs="content"] article figure,
[data-tabs="content"] article .content {
    opacity: 0;
    transition: transform 600ms ease, opacity 300ms ease;
}

[data-tabs="content"] article.active:after,
[data-tabs="content"] article.active figure,
[data-tabs="content"] article.active .content {
    opacity: 1;
    transform: translate(0);
}

[data-tabs="content"] article figure {
    transform: translate(0, -25%);
}

[data-tabs="content"] article .content {
    transform: translate(25%, 0);
}